h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

%text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    @extend %text;
    color: black;
}

ul {
    @extend %text;
    color: green;
    #current {
        text-decoration: underline;
    }
}

.fav {
    @extend %text;
    color: purple;
}

