$main_color: purple;
$color2: pink;
$color3: white;

body {
    background-color: rgb(255, 214, 250);
}

h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

h2 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

.nav {
    background-color: $main_color;
    height: 50px;
    width: 300px;
    margin: 10px;
    color: $color3;
    text-align: center;
    a {
        font-weight: normal;
        color: $color3;
    }
    a:hover {
        color: $color2;
    }
}

.container {
    background-color: $main_color;
    @extend %text;
    color: $color2;
    border: 1px solid $color2;
    border-collapse: collapse;
    .row {
        border: 1px solid $color2;
        .col {
            border: 1px solid $color2;
        }
        .col-6 {
            border:1px solid $color2;
        }
    }
}

%text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    @extend %text;
    color: rgb(40, 166, 207);
}

p {
    @extend %text;
    color: black;
    margin: 10px;
}

ul {
    @extend %text;
    color: rgb(209, 33, 209);
    #current {
        text-decoration: underline;
    }
}

.fav {
    @extend %text;
    color: $main_color;
}

table {
    @extend %text;
    background-color: $color2;
    border: 1px solid black;
    margin: 10px;
    border-collapse: collapse;
    thead {
        font-weight: bold;
        color: $main_color;
        border: 1px solid black;
        padding: 2px;
    }
    tbody {
        color: rgb(209, 33, 209);
        border: 1px solid black;
        padding: 2px;
    }
    tr {
        border: 1px dashed black;
        padding: 2px;
    }
}

svg {
    margin-left: 10px;
    margin-right: 10px;
}

img {
    margin: 10px;
}