h1 {
font-size: 24px;
}

%text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif
}

p {
    @extend %text;
    color: black;
}

ul {
    @extend %text;
    color: green;
}

.fav {
    @extend %text;
    color: purple;
}

#current {
    @extend %text;
    text-decoration: underline;
    color: black;
}
